html {
    font-family:'Manrope', sans-serif;
}

body {
    background-color: #0f0b1e;
}

#web-content {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: #e1def2;
    margin: 0;
}

li {
    list-style: none;
}

header {
    background-color: #2E2845;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search-bar {
    display: none;
    height: fit-content;
    width: 600px;
    padding: 10px;
    background-color: #3F3758;
    border: none;
    color: #e1def2;
    border-radius: 10px;
}

.search-bar::-moz-placeholder {
    opacity: 1;
}

.center-container {
    margin: 0 auto;
    max-width: 1200px;
}

.padding-container {
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-mobile {
    position: sticky;
    bottom: 0;
    margin-top: auto;
}

.mobile-menu button:hover {
    cursor: pointer;
}

.mobile-menu button {
    background: none;
    border: none;
    color: #000;
    font-weight: 700;
}

.mobile-menu h2 {
    font-size: 1rem;
}

.mobile-menu svg {
    width: 35px;
    fill: #e1def2;
}

.mobile-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #2E2845;
    padding: 20px;
}

nav {
    display: none;
}

.volume {
    display: none;
}

.hot-now-section {
    margin-top: 100px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
}

.section-heading-text {
    font-size: 2.5rem;
}

.scroll-buttons button {
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    border: none;
    padding: 12px;
}

.scroll-buttons button:enabled {
    background-color: #2E2845;
}

.scroll-buttons button:disabled {
    background-color: #1B172A;
}

.scroll-buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.scroll-buttons button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}


.loading-wheel {
    border: 16px solid rgba(171, 157, 222, 0.2);
    border-top: 16px solid rgba(27,23,42,1);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spinLoadingWheelAnimation;
}

.loading {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes spinLoadingWheelAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loadingContentAnimation {
    0% {
      background-position: -30px 0;
    }
    100% {
      background-position: 70em 0;
    }
  }
  
.loading-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingContentAnimation;
    animation-timing-function: linear;
    background: radial-gradient(circle,rgba(171, 157, 222, 0.2) 3%, rgba(27,23,42,1) 33%);
    height: 50px;
    border-radius: 10px;
}

.hot-now-songs {
    margin-top: 40px;
    display: block;
    overflow-y: hidden;
}

.song-card-controls-wrapper {
    display: none;
}

.song-card-details-wrapper {
    width: 100%;
    display: flex;
}

.song-card {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.song-card-album-image {
    margin-right: 18px;
}

.song-card-details p {
    font-weight: 700;
}

.play-song-button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 3px solid #e1def2;
    border-radius: 50%;
    background-color: #e1def2;
    padding: 12px;
}

.play-song-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.play-song-button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

.play-song-button svg path {
    fill: #3d2b88;
}

.media-center {
    display: flex;
    background-color: #1B172A;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.2s, bottom 0.2s;
    visibility: visible;
}

.media-center .center-container {
    width: 100%;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.song-details {
    justify-content: space-between;
    width: 50%;
}

.song-details h2 {
    margin-top: 0;
}

.song-details h3 {
    margin-top: 5px;
    font-size: 1rem;
}

.seek {
    display: flex;
    width: 100%;
}

.seek .seek-slider {
    width: 100%;
    margin: 0 20px;
    background-color: #2E2845;
}

.seek p {
    margin: 0;
}

.seek-time {
    min-width: 34px;
}

.seek .seek-slider {
    -webkit-appearance: none;
    appearance: none;
    background: #583cc5;
    cursor: pointer;
    align-self: center;
    height: 5px;
}

.seek .seek-slider::-moz-range-thumb {
    border: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.seek .seek-slider:hover::-moz-range-thumb {
    background-color: #e1def2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.2s;
}

.seek .seek-slider:active::-moz-range-thumb {
    background-color: #e1def2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.2s;
}

.seek .seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.seek .seek-slider:hover::-webkit-slider-thumb {
    background-color: #e1def2;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    opacity: 1;
    transition: opacity 0.2s;
}

.seek .seek-slider:active::-webkit-slider-thumb {
    background-color: #e1def2;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    opacity: 1;
    transition: opacity 0.2s;
}

.play-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 3px solid #e1def2;
    border-radius: 50%;
    background-color: #e1def2;
    padding: 15px;
}

.play-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.play-button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

.play-button svg path {
    fill: #3d2b88;
}

.hidden {
    display: none;
}

.media-center.hidden {
    display: unset;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

@media (min-width: 1100px) {
    .mobile-menu {
        display: none;
    }
    .search-bar {
        display: inline-block;
    }
    .hot-now-songs {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
    }
    .song-card-column {
        flex: 0 0 calc(100% / 3);
    }
}